<head>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129331504-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129331504-1');
</script>

</head>
  <div class="home-message">
    <img src="/31025201_1675955159153481_133773711_o.jpg">
    <div class = "message-name">
      <p>代表取締役社長</p>
      <h2>山口 幸男</h2>
    </div>
  </div>
  <div class ="message-sentence">
    <div class = "home-sentence">
      <h2>すべての人に価値がある。<br>まず自分の価値に気づいて欲しい。<h2>
        <h3>私は３０歳まで「できること＝価値」だと信じて、「できる自分」を必死に追いかけてきました。<br>大手企業に勤め、評価のために自分を押し殺す日々。<br>「できない自分は価値のない存在だ」と思い込んで、自分を認めず、他人を認めず。<br>当時は気づいていませんでしたが、今振り返ると苦しい生活を送っていました。<br>転機は生命保険のフルコミッション営業に挑戦したことでした。<br>それまで起業を目指して、勉強をしていた私は自信満々でした。<br>マーケティングを知っていたし、起業家マインドも持っている(つもり)。<br>当然すごい成果を上げて、「できる自分」を証明して、起業家へステップアップしていく未来描いていました。<br>しかし、ありがたいことに厳しい現実が待ち構えていました。<br>全く売れず、完全な落ちこぼれに。これは本当に苦しい経験でした。<br>売れない自分は存在価値のない人間だと思っていました。<br>悔しい、恥ずかしい、情けない。追い込まれていた私は、気が付くと深呼吸ができなくなっていました。<br>思いつくことは何でもやりましたが、なかなか状況は良くなりませんでした。<br>そんな中でポッドキャストから「自分を知ることをしないと、何も始まらないよ」というあるお医者さんの言葉が聞こえて、自分に足りないものはこれだと確信しました。<br>確かにスーパー営業マンは皆、飾ることなく素をさらけ出して楽しそうに仕事をしている人ばかり。<br>そこから自分を知るために、手あたり次第できることをやりました。<br>そして、「できること＝価値」ではなく、「存在＝価値」なのだと腹落ちして世界が変わりました。<br>私という「存在」を正しく表現することが価値を配ることだとわかり、結果的に起業する事を決意。<br>思い描いていたストーリーとは全く違いましたが、今心から幸せを感じています。<br>有史以来、あなたと全く同じ存在はいません。<br>違うということは、それだけで価値です。だから、あなたには間違いなく価値があるということを私は知っています。<br>できること、できないこと、なんて関係ありません。私はあなたの価値を確信しています。<br>まずは自分の価値に気づいて下さい。世界が変わります。<br>COAは「自分の価値を認め、自分を解放し、仲間と共に自由に空を飛び回りながら豊かさを配る世界」を創るために設立しました。<br>あなたにお会いできることを楽しみにしています。
        </h3>
      </div>
    </div>
  </div>
