  <head>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129331504-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129331504-1');
</script>

</head>


<div class="service">
    <h1>嘘がないSNS事業</h1>
    <img src="/109.png">
    <h3>  私たちCOAは一攫千金ビジネスが好きではありません。<br>
      じっくりコツコツお客さんと関係を気づいていく。そんなビジネスを応援したいのです。<br>
      そこでご提案ですが、あなたのファン・コミュニティを創りませんか？<br>
      好きな人と好きなことでビジネスをする。そのためにファン・コミュニティは必須です。<br>
      あなたのファン・コミュニティを創るために私たちはサポートします。<br>
      <p><%= link_to("詳しくはこちら", "/blogs/index") %></p>

    </h3>
    <h1>ビジネスサポート事業</h1>
    <img src="/109.png">
    <h3>  私たちCOAは一攫千金ビジネスが好きではありません。<br>
      じっくりコツコツお客さんと関係を気づいていく。そんなビジネスを応援したいのです。<br>
      そこでご提案ですが、あなたのファン・コミュニティを創りませんか？<br>
      好きな人と好きなことでビジネスをする。そのためにファン・コミュニティは必須です。<br>
      あなたのファン・コミュニティを創るために私たちはサポートします。<br>
      <p><%= link_to("詳しくはこちら", "/blogs/index") %></p>
    </h3>
    <img src="/2.png">
    <h3>  自分を知ること。それがすべての始まりです。<br>
      自分を知らなければ、何がしたいのか、どこに行きたいのか、誰といたいのか。何もわかりません。<br>
      私たちCOAは深く自己理解するためのコア・プロファイリングを提供しています。<br>
      早くスタートラインに立って頂きたい。そんな想いでご提供しています。<br>
      <p><%= link_to("詳しくはこちら", "/blogs/index") %></p>
    </h3>
</div>
