
<head>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="stylesheet" type="text/css" href="application.scss">
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129331504-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-129331504-1');
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="script.js"></script>
</head>
<body>
<div class="top-wrapper">
    <img src = "/ロゴ＋文字1列.png">
    </div>
    <div class="btn-wrapper">
      <div class="btn signup"><a><%= link_to("新規登録", "/users/signup") %></a></div>
      <a href="https://www.facebook.com/CrossOverAirline/" class="btn facebook"><span class="fa fa-facebook"></span>Facebook</a>
      <a href="" class="btn twitter">Podcast</a>
      <a href="https://www.facebook.com/pg/CrossOverAirline/events/?ref=page_internal" class="btn ivent">イベント情報</a>
    </div>
        <div class = "Our_Philosophy">
          <h1>Our Philosophy</h1>
          <h2>人生、楽しまなきゃもったいない！！<br>一人でも多くの、一秒でも長い笑顔を。<br>子供のころのワクワクを取り戻そう。</h3>
        </div>
        <div class = "Our_Vision">
          <h1> Our Vision</h1>
          <h2>誰もが、自分の価値を認め、自分を解放し、<br>仲間と共に自由に空を飛び回り豊かさを配る世界</h3>
          <h3>私たちＣＯＡは、ビジネスを通じて自分の価値に気づく喜びをあなたにお届けします。<br>
          私たちのサポートは,あなたの想いを聴くことから始まります。<br>
          そして、あなたの個性が輝き、価値が最大化する場所を一緒に創ります。<br>
          私たちの目標、それは豊かさを配る世界です。<br>
          ビジネスを通じて人々が自分を認め、他人を認め、笑顔と喜びが世界に少しでも増えることを目指しています。</h3>
        </div>
        <div class = "Our_Vision">
          <h1> Our Ｍission</h1>
          <h2>あなたの価値の最大化を応援<br>
            <h3>あなたが生まれてきたという奇跡を,ただそれだけで終わらせたくありません。<br>
            あなたにしかないその価値を世界に配ってほしい。<br>
            それが私たちの願いです。<br>
            でも、一人でできることは限られています。<br>
            心細く感じることもあるかもしれません。<br>
            私たちＣＯＡは、あなたの才能が開花する場所を一緒に探します。<br>
            あなたが生まれてきたという奇跡を、ただそれだけで終わらせないために。</h3>
          </div>
          <div class = "Our_Promise">
              <h1>Our Promise</h1>
              <h2>この約束を行動に<br>
              <h3>「楽しい」を最優先に行動します。あなたの価値を確信しています。がんばりません。 正解はありません。 嘘をつきません。 「好き」以上の理由はありません。<br>
                豊かさを配ります。時間は命だと考えます。行動で示します。行動を見ています。他人と比べません。 夢は叶います。 言葉を大事にします。 一人では何もできません。<br>
                失敗はありません。ピンチはチャンスです。どうせ最後はうまくいきます。明日死ぬとしても後悔しない今を。<br>
                ビジネスは手段です。わがままな大人になりましょう。それが私たちの願いです。<br>
                でも、一人でできることは限られています。心細く感じることもあるかもしれません。<br>
                私たちＣＯＡは、あなたの才能が開花する場所を一緒に探します。あなたが生まれてきたという奇跡を、ただそれだけで終わらせないために。</p>
            </div>
          </body>
