


.home-message {

  position: relative;
  top:0%;left:auto;
  margin: 10% 0 0% 0;
  float: left;

}

.home-message img{
  height:30%;width: 30%;
}

.home-message p{
  color: white;
  text-align: center;
  width: 30%;
  margin: 0% 0% 0% 0%;
  background-color: rgba(1, 1, 1, 0.5)

}

.home-message h2{
  color: white;
  text-align: center;
  width: 30%;
  margin: 0% 0% 0% 0%;
  background-color: rgba(1, 1, 1, 0.5)
}


.home-sentence{
  float: left;
  position: absolute;
  top:10%;right: 0px;
}

.home-sentence h2{
  float: right;
  color :white;
  text-align: center;
  background-color: rgba(1,1,1,0.5);
  width: 60%;
}

.home-sentence h3{
  float: right;
  background-color: rgba(255,255,255,0.5);
  width: 60%;
  position: relative;

}

@media all and (max-width: 800px) {

  .home-message {
    top:20%;
    margin: 10% 0 0% 0;
  }

  .home-message img{
    height:40%;width: 40%;
    margin: 5% 30% 0% 30%;
  }

  .home-message p{
  margin: 5% 30% 0% 30%;
  width: 40%;
  }

  .home-message h2{
    margin:0 30% 0% 30%;
    width: 40%;

  }


  .home-sentence{
    margin:45% 0% 0% 0%;
  }

  .home-sentence h2{
    color :white;
    text-align: center;
    background-color: rgba(1,1,1,0.5);
    width: 100%;
    margin: 5% 0 0 0 ;
    font-size: 18px;
  }

  .home-sentence h3{
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    margin: 0;
    font-size: 12px;
    margin: 0 0 30% 0

  }

}
